<!DOCTYPE html>
<html ng-app="contactManager">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
    var ROOT = '@Url.Content("~/")';
    </script>

</head>
<body>
    <div class=" body-content">
        <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
         
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Contact Manager </a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="#/"><i class="fa fa-dashboard"></i> Naslovna</a></li>

                    <li><a href="#/AddContact"><i class="fa fa-table"></i> Dodaj kontakt</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right navbar-user"></ul>
            </div><!-- /.navbar-collapse -->
        </nav>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vlado Pandžić</p>
        </footer>
    </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
   

    @Scripts.Render("~/bundles/angular-app")
    @RenderSection("scripts", required: false)
</body>
</html>
